@tailwind preflight;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
}

.bg-primary {
  @apply bg-grey-dark;
}

/* Font */
.font-primary {
  font-family: 'Karla', sans-serif;
}

/* buttons */
.btn {
  @apply no-underline text-sm font-semibold rounded px-8 py-3 leading-normal text-white;
}

.btn-alternate {
  @apply ml-4 no-underline text-sm font-semibold rounded px-8 py-3 leading-normal text-white;
}

.btn:hover {
  @apply shadow-lg;
  transition-timing-function: linear;
  transition-duration: 200ms;
}

/* Nav */
.nav {
  @apply bg-primary w-full flex items-center justify-between flex-wrap py-4 px-6 z-50 fixed shadow-lg;
}

.nav-brand-container {
  @apply flex items-center flex-no-shrink mr-6;
}

.nav-brand {
  @apply no-underline font-semibold text-xl text-white;
}

.nav-btn {
  @apply flex items-center px-3 py-2 rounded text-white border border-white;
}

.hamburger-menu {
  @apply fill-current h-3 w-3;
}

.nav-link {
  @apply no-underline block mt-4 text-white font-semibold;
}

.nav-container {
  @apply flex items-center justify-center text-center
}

.nav-content-container {
  @apply w-full text-white;
}

.nav-cta {
  @apply mt-4 border-2 border-white mr-2;
}

.nav-cta:hover {
  @apply bg-white;
}

.nav-link-container {
  @apply text-sm text-center;
}

@variants hover {
  .nav-btn {
    @apply shadow-lg;
  }
}

@screen md {
  .nav-link {
    @apply mr-8;
  }
}

@screen lg {
  .hider {
    @apply hidden;
  }

  .nav-link {
    @apply inline-block mt-0;
  }

  .nav-cta-container {
    @apply content-end;
  }

  .nav-cta {
    @apply mt-0;
  }

  .nav-content-container {
    @apply block flex items-center w-auto;
  }

  .nav-link-container {
    @apply flex-grow;
  }
}

section {
  @apply w-full;
}

h1 {
  @apply text-lg mb-4;
}

h2 {
  @apply text-base mb-2;
}

.section-subtitle {
  @apply text-lg text-grey-dark leading-normal;
}

.section-content {
  @apply text-base text-grey-darkest leading-normal;
}

.section-header {
  @apply py-6 px-6 flex flex-col content-center justify-center text-left w-full;
}

.section-content-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 14px;
  @apply px-6 text-grey-darkest;
}

.section-content-flex {
  @apply flex flex-col px-6;
}
.section-content-flex .section-item {
  @apply mb-6 leading-normal;
}
.section-content-flex p {
  @apply text-grey-darkest;
}
.section-item {
  @apply mb-4;
}

.section-item-content {
  @apply mt-2 text-center text-white;
}

a {
  @apply text-grey-dark;
}

/* Testimonial */
.testimonial-author {
  @apply font-bold mt-4;
}
.circle {
@apply h-24 w-24 mx-auto mb-6 bg-grey-lightest rounded-full block overflow-hidden;
}

/* contact */
form {
  @apply w-full px-6 mt-2;
}
.form-block input, textarea {
  @apply w-full p-4 mb-2 leading-normal;
}
#contact .section-content p {
  @apply text-center px-6 mb-4;
}
#contact .btn {
  @apply w-full mb-4 bg-black;
}

/* footer  */
footer {
  @apply p-6 bg-black text-white;
}
.footer-content {
  @apply text-sm text-center;
}

/* Section Specific */
#recent-work, #about, #solutions {
  @apply bg-black text-white;
}

#solutions .section-content, #about .section-content  {
  @apply text-grey-light;
}
