@tailwind preflight;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700');

:root {
  font-size: 16px;
}

body {
  @apply bg-black;
}

.bg-image {
  background-image: url("https://res.cloudinary.com/onshore-studios/image/upload/q_auto/v1537995866/onshore/beach.png");
  background-size: cover;
}

.bg-primary {
  background-color: #106AF1;
}

.bg-os-blue {
  background-color: #106AF1;
}

.text-os-blue {
  color: #106AF1;
}

.border-os-blue {
  border-color: #106AF1;
}

.gradient {
  background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}

/* Font */

.font-primary {
  font-family: 'Muli', sans-serif;
}

a {
  @apply no-underline text-grey-dark;
}

a:hover {
  @apply text-os-blue;
}

.section-content-grid a {
  @apply text-center block;
}

/* buttons */

.btn {
  @apply no-underline text-sm font-semibold rounded px-8 py-3 leading-normal text-white bg-black border-none;
}

.btn-alternate {
  @apply no-underline text-sm font-semibold rounded px-8 py-3 leading-normal text-black bg-white border-none;
}

.btn:hover {
  @apply shadow-lg text-white bg-os-blue;
  transition-timing-function: linear;
  transition-duration: 200ms;
}

.btn-alternate:hover {
  @apply shadow-lg text-black bg-white;
  transition-timing-function: linear;
  transition-duration: 200ms;
}

/* Nav */

.nav {
  @apply bg-black w-full flex items-center justify-between flex-wrap py-4 px-6 z-50 fixed shadow-lg;
}

.nav-brand-container {
  @apply flex items-center flex-no-shrink mr-6;
}

.nav-brand {
  @apply no-underline font-semibold text-lg text-white;
}

.nav-btn {
  @apply flex items-center px-3 py-2 rounded text-white border border-white;
}

.nav-btn:hover {
  @apply bg-os-blue text-white border-transparent;
}

.nav-btn:focus {
  @apply bg-white text-black;
}

.hamburger-menu {
  @apply fill-current h-3 w-3;
}

.nav-container {
  @apply flex justify-center text-center min-h-screen mt-2;
}

.nav-content-container {
  @apply w-full text-white;
}

nav .icon-container {
  @apply mt-12 bg-os-blue rounded p-4;
}

.nav-cta {
  @apply mt-4 border-2 border-white mr-2;
}

.nav-cta:hover {
  @apply bg-white;
}

.nav-link-container {
  @apply text-sm text-center px-6 text-2xl;
}

.nav-link {
  @apply no-underline block mt-8 text-white font-bold;
}

@variants hover {
  .nav-btn {
    @apply shadow-lg;
  }
}

@screen md {
  .nav-link {
    @apply pr-6;
  }

  .nav-link-container:last-child {
    @apply pr-0 mb-1;
  }

  .nav-link:last-child {
    @apply mr-0;
  }

  .nav-container {
    min-height: 100vh;
  }
}

.hider {
  @apply hidden;
}

@screen lg {
  .nav-container {
    min-height: .25em;
  }

  .hider {
    @apply hidden;
  }

  .nav-link {
    @apply inline-block mt-0 pr-8 text-base;
  }

  .nav-cta-container {
    @apply content-end;
  }

  .nav-cta {
    @apply mt-0;
  }

  .nav-content-container {
    @apply block flex items-center w-auto;
  }

  .nav-link-container {
    @apply flex-grow;
  }
}

section {
  @apply w-full py-8 relative z-10;
}

h1 {
  @apply text-lg mb-4;
}

h2 {
  @apply text-base mb-2;
}

#cta {
  @apply bg-os-blue text-white;
}
.section-btn {
  @apply px-6 text-base flex flex-col items-center justify-center;
}

.section-btn p {
  @apply mb-6;
}

@screen md {
  .section-btn {
    @apply flex-row justify-between text-xl w-3/4 mx-auto;
  }

  .section-btn p {
    @apply mb-0 mr-8;
  }
}

@screen lg {
  .section-btn {
    @apply w-2/3;
  }
}

.section-subtitle {
  @apply text-lg text-grey-dark leading-normal;
}

.section-content {
  @apply text-base text-grey-darkest leading-normal;
}

.section-header {
  @apply py-6 px-6 flex flex-col content-center justify-center text-left w-full z-10;
}

.section-content-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 14px;
  @apply px-6 text-grey-dark;
}

#solutions .section-content-grid {
  grid-template-columns: 1fr 1fr;
  @apply text-white mt-2 mx-6 text-center;
}
#solutions .section-content-grid p {
  @apply bg-grey-darkest p-4 rounded shadow-inner ;
}
#recent-work .section-item {
  @apply shadow-inner;
}
@screen md {
  .section-content-grid {
    @apply mx-auto w-full;
    grid-template-columns: 1fr 1fr;
  }
  #solutions .section-content-grid {
    grid-template-columns: 1fr 1fr 1fr;
    @apply mx-auto w-3/4;
  }
  .section-content-grid .section-item {
    @apply mx-auto;
  }

}

@screen lg {
  .section-content-grid {
    @apply mx-auto w-full;
  }
  #solutions .section-content-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    @apply mx-auto w-2/3;
  }
}

@screen xl {

}

.section-content-flex {
  @apply flex flex-col px-6;
}

.section-content-flex .section-item {
  @apply mb-6 leading-normal;
}

.section-content-flex p {
  @apply text-grey-darkest;
}

.section-item {
  @apply mb-4;
}

#recent-work .section-item {
  @apply mb-4;
}

.section-item-content {
  @apply text-center text-white py-4;
}

/* Testimonial */

.testimonial-author {
  @apply text-grey-darkest font-bold mt-4;
}

.testimonial-title {
  @apply mt-1;
}

.circle {
  @apply h-24 w-24 mx-auto mb-4 bg-grey-lightest rounded-full block overflow-hidden;
}

/* contact */

form {
  @apply w-full px-6 mt-2 z-10 relative;
}

.form-block input,
textarea {
  @apply w-full p-4 mb-2 leading-normal;
}

#contact .section-content p {
  @apply text-center px-6 mt-4 mb-4;
}

#contact .btn {
  @apply w-full mb-4 bg-black;
}

#contact .btn:hover {
  @apply bg-os-blue;
}

/* Section Specific */

#recent-work {
  @apply bg-white;
}
#about,
#solutions {
  @apply bg-black text-white;
}

#solutions .section-content,
#about .section-content {
  @apply text-grey-light;
}

#about {
  @apply -mt-6;
}

#home {
  @apply px-6 flex flex-col justify-center text-white;
  min-height: 86vh;
}

#home h2 {
  max-width: 480px;
}

@screen md {

  .section-header,
  .section-content-flex,
  #contact .section-content,
  #home {
    @apply w-3/4 mx-auto;
  }

  #home h2 {
  max-width: 640px;
  }
}

@screen lg {

  .section-header,
  .section-content-flex,
  #contact .section-content,
  #home {
    @apply w-2/3 mx-auto;
  }
}

.logo-header {
  @apply flex items-center content-center mb-4 opacity-100;
}

.logo-header img {
  height: 32px;
  @apply mr-2;
}

.logo-header h1 {
  @apply mb-0;
}

.home-content h1 {
  @apply text-xl;
}

.home-content h2 {
  @apply leading-normal font-light mb-6;
}

@screen md {
  .home-content h1 {
    @apply text-3xl;
  }

  .home-content h2 {
    @apply text-2xl mb-8;
  }
}

/* footer  */

footer {
  @apply p-6 bg-black text-white;
}

.footer-content {
  @apply text-sm text-center;
}

.icon-container {
  @apply mb-6;
}

.icon-container i {
  @apply text-2xl px-4;
}

@screen md {
  .footer-content {
    @apply flex justify-between items-center;
  }

  .icon-container {
    @apply mb-0;
  }
}

.services-flex {
  @apply flex;
}

.services-flex i {
  @apply text-2xl pr-4 pt-1 text-os-blue;
}

@screen md {
  .services-flex i {
    @apply text-4xl pr-6 pt-2;
  }
}
